* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.title_item {
  position: relative;
}
.homepage-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.homepage-body > h1 {
  width: 100vw;
  text-align: left;
  padding: 3rem;
  background-color: chartreuse;
}
